/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/* --- */

html {
  height: 100%;
}

body {
	font-family: 'Dosis', helvetica, sans-serif;
  background-color: #000;
  color: #fff;
  height: 100%;
  min-height: 650px;
  position: relative;
}

h1 {
  position: fixed;
  display: block;
  width: 70px;
  height: 93px;
  text-indent: -99999px;
  overflow: hidden;
  background: url('assets/logo.png') no-repeat;
  background-size: cover;
  top: 20px;
  left: 20px;
  z-index: 9999;
  cursor: pointer;
}

h2, h3 {
  font-size: 60px;
  font-weight: 400;
  padding: 40px;
  text-shadow: 1px 1px 1px #000;
}

h3 {
  font-size: 30px;
  padding: 10px 40px 20px 40px;
  text-shadow: 1px 1px 1px #000;
  line-height: 45px;
  white-space: nowrap;
}

h4 {
  font-size: 16px;
  padding: 20px 40px 10px 40px;
  text-shadow: 1px 1px 1px #000;
  line-height: 28px;
}

h4 a, .green {
  color: green;
}

.header, .content, .footer {
  z-index: 5;
}

.image-container {
  opacity: 0.4;
}

.bg-image {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: 100% auto;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.bg-image.sos {
  background-image: url('/assets/charities/sos.jpg');
}

.bg-image.oroverde {
  background-image: url('/assets/charities/oroverde.jpg');
}

.bg-image.aerzte {
  background-image: url('/assets/charities/aerzte.jpg');
}

.bg-image.amnesty {
  background-image: url('/assets/charities/amnesty.jpg');
}

.bg-image.mensch {
  background-image: url('/assets/charities/mensch.jpg');
}

.content {
  position: absolute;
  height: 550px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.keyword-input {
  width: 80%;
  max-width: 560px;
  outline: none;
  height: 40px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 20px;
  padding: 0 15px;
  box-shadow: 0 1px 0 rgba(255,255,255,.2);
  display: inline-block;
  margin-right: -51px;
  vertical-align: middle;
}

button {
	outline: none;
	border: none;
	font-size: 16px;
	color: white;
	cursor: pointer;
	border-radius: 2px;
	background-image: -o-linear-gradient(-90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -moz-linear-gradient(-90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -webkit-linear-gradient(-90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -ms-linear-gradient(-90deg, #79B421 0%, #5A9C1A 100%);
	background-image: linear-gradient(-180deg, #79B421 0%, #5A9C1A 100%);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -1px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -1px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
	box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -1px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
	text-decoration: none;
	text-align: center;
  display: inline-block;
	color: white;
  vertical-align: middle;
}


button img {
	width: 33px;
  padding: 0 5px;
  margin-top: 3px;
}

button:hover {
	border-radius: 3px;
	background-image: -o-linear-gradient(90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -moz-linear-gradient(90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -webkit-linear-gradient(90deg, #79B421 0%, #5A9C1A 100%);
	background-image: -ms-linear-gradient(90deg, #79B421 0%, #5A9C1A 100%);
	background-image: linear-gradient(0deg, #79B421 0%, #5A9C1A 100%);
	-moz-box-shadow:    0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -2px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -2px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
	box-shadow:         0px 0px 2px 0px rgba(0,0,0,0.50), inset 0px -2px 1px 0px rgba(0,0,0,0.50), inset 0px 2px 1px 0px rgba(255,254,254,0.32);
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

img {
  width: 170px;
}

.nav {
  width: 310px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.arrows {
  font-size: 60px;
  top: 170px;
  cursor: pointer;
  position: absolute;
}
.prev {
  margin-left: -160px;
}

.next {
  margin-left: 140px;
}

.appstore {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.footer a {
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  h1 {
    width: 50px;
    height: 65px;
  }
  .content {
    position: relative;
    height: auto;
    padding-top: 90px;
  }
  .next {
    margin-left: 100px;
  }
  .prev {
    margin-left: -120px;
  }
  .arrows {
    top: 190px;
  }
  h2 {
    font-size: 30px;
    padding: 30px 30px 20px 30px;
  }
  h3 {
    font-size: 18px;
    line-height: 28px;
    padding: 10px 0;
  }
  h4 {
    padding: 30px 50px;
  }
  .keyword-input {
    width: 70%;
    font-size: 16px;
  }
  img {
    width: 120px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

